@media print,
(max-width: 1023px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 24px;
    }


    .content_flex .content
    {
        width: 100%;
        padding: 0 40px;
    }

    .content_flex .content.pad_top
    {
        padding-top: 29px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*------------
        Header
    ------------*/
    .header_wrap,
    header
    {
        margin-bottom: 31px;
    }


    header
    {
        padding: 26px 0;
    }


    header .logo img
    {
        height: 28px;
    }


    header .where_buy_link
    {
        margin-left: 165px;
    }


    header .encyclopedia_link a
    {
        font-size: 17px;
    }


    header .menu_btn
    {
        margin-left: 36px;
    }



    /*----------
        Menu
    ----------*/
    .menu
    {
        padding-top: 106px;
        padding-bottom: 29px;
    }


    .menu .line
    {
        margin-bottom: 48px;
    }


    .menu .links
    {
        display: flex;

        width: 100%;
        margin-left: -35px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    .menu .links > *
    {
        width: auto;
        margin-left: 35px;
    }

    .menu .links > * > a
    {
        padding: 0;
    }

    .menu .links > * > a .icon
    {
        width: 18px;
        height: 18px;
        margin-left: 10px;

        transform: rotate(90deg);
    }


    .menu .links .sub_links
    {
        top: 100%;
        left: 0;

        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }


    .menu .links .sub_links .row
    {
        margin-bottom: -14px;
        margin-left: 0;
    }

    .menu .links .sub_links .row > *
    {
        width: 100%;
        margin-bottom: 14px;
        margin-left: 0;
    }

    .menu .links .sub_links a
    {
        white-space: nowrap;
    }


    .menu .products
    {
        margin-top: 274px;
    }


    .menu .products .row > *
    {
        width: calc(33.333% - 24px);
    }


    .menu .products .product .thumb
    {
        width: 112px;
    }

    .menu .products .product .thumb + *
    {
        width: calc(100% - 112px);
    }


    .menu .products .product .name
    {
        font-size: 15px;
    }

    .menu .products .product .desc
    {
        font-size: 13px;

        margin-top: 6px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        position: absolute;
        top: 19px;
        right: 24px;

        width: auto;
    }


    aside .mob_anchors_btn
    {
        display: flex;
    }


    aside .anchors
    {
        display: none;

        padding: 0;

        border: none;
    }



    /*---------------
        Page head
    ---------------*/
    .content .page_head
    {
        margin-bottom: 85px;
    }


    .page_head .bg
    {
        top: -21px;

        width: 188px;
        margin-right: -74px;
    }


    .page_title
    {
        margin-top: 61px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 28px;
    }

    .text_block h3
    {
        font-size: 24px;
    }

    .text_block h2 + h3
    {
        margin-top: 56px !important;
    }



    .text_block .featured_article
    {
        position: relative;

        margin-top: 36px !important;
    }


    .text_block .figures
    {
        position: relative;
        left: 0;

        display: flex;

        width: 100%;
        margin-left: 0 !important;

        box-shadow: none;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .text_block .figures figure
    {
        width: 224px;
        max-width: calc(50% - 10px);
    }

    .text_block .figures > * + *
    {
        margin-top: 0;
        margin-left: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding: 156px 0 91px;
    }


    .first_section .data
    {
        padding: 0 40px;
    }


    .first_section .btns
    {
        margin-top: 46px;
        margin-bottom: -18px;
        margin-left: -18px;
    }

    .first_section .btns > *
    {
        margin-bottom: 18px;
        margin-left: 18px;
    }


    .first_section .btn
    {
        padding: 12px 28px 14px;
    }



    /*----------------------
        Featured article
    ----------------------*/
    .featured_article
    {
        position: relative;
        bottom: 0;
        left: 0;

        display: flex;

        width: 500px;
        max-width: 100%;
        margin-left: 0 !important;

        box-shadow: none;

        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        flex-wrap: wrap;
    }


    .featured_article .info
    {
        width: calc(100% - 141px);
        padding: 19px 29px 29px;
    }


    .featured_article .label
    {
        font-size: 12px;

        margin-bottom: 12px;
    }


    .featured_article .thumb
    {
        width: 143px;
        height: auto;
        min-height: 171px;

        border-radius: 0 11px 11px 0;
    }



    /*-----------------
        Zalain type
    -----------------*/
    .zalain_type
    {
        padding: 64px 40px;
    }


    .zalain_type .data
    {
        width: calc(100% - 250px);
    }


    .zalain_type .pluses
    {
        margin-bottom: -3px;
        margin-left: 0;
    }

    .zalain_type .pluses > *
    {
        width: 100%;
        margin-bottom: 3px;
        margin-left: 0;
    }


    .zalain_type .btns
    {
        margin-top: 40px;
    }


    .zalain_type .data + .image
    {
        margin-top: 80px;
        margin-right: -64px;
        margin-left: 0;
    }

    .zalain_type .image
    {
        width: 289px;
        margin-top: 80px;
        margin-left: -64px;
    }



    /*----------------
        Prevention
    ----------------*/
    .prevention .block_title
    {
        font-size: 28px;

        padding: 0 40px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .head
    {
        margin-bottom: 39px;
    }


    .articles .row
    {
        display: block;
        overflow: hidden;

        margin-left: 0;
    }

    .articles .row > *
    {
        float: left;

        width: calc(100% - 259px);
        margin-left: 0;
    }


    .articles .row > *:first-child
    {
        float: right;

        width: 235px;
    }

    .articles .row > *:first-child .thumb
    {
        width: 100%;
        height: 99px;
        min-height: 99px;

        border-radius: 8px 8px 0 0;
    }

    .articles .row > *:first-child .thumb + *
    {
        width: 100%;
        padding: 30px 20px;
    }



    /*-------------
        Sources
    -------------*/
    .sources
    {
        padding: 0 40px;
    }



    /*------------------
        Articles map
    ------------------*/
    .articles_map .category .col
    {
        width: calc(50% - 35px);
    }


    .articles_map .category .items.columns
    {
        column-gap: 70px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 0 40px 60px;
    }


    footer .col_left
    {
        width: 100%;
    }


    footer .center
    {
        width: 100%;
        max-width: 100%;
        margin-top: 35px;
    }


    footer .exp > * + *
    {
        margin-top: 6px;
    }


    footer .egis
    {
        font-size: 12px;
        line-height: 18px;

        display: flex;

        width: 100%;
        margin-top: 35px;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    footer .egis > * + *
    {
        width: 350px;
        max-width: calc(100% - 246px);
        margin-top: 0;
        margin-left: 46px;
    }



    /*-----------
        PopUp
    -----------*/
    #discount_modal
    {
        width: 386px;
    }


    #discount_modal .row
    {
        padding: 13px 85px 40px;
    }


    #discount_modal .image
    {
        width: 186px;
        height: 83px;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
    }


    #discount_modal .data
    {
        width: 100%;

        order: 2;
    }


    #discount_modal .stock
    {
        display: block;

        padding: 0 28px 13px 21px;

        text-align: center;
    }

    #discount_modal .stock > div:first-child
    {
        width: 100%;
    }


    #discount_modal .stock .info
    {
        top: 52px;

        width: calc(100% - 42px);
        padding: 58px 20px;
    }

    #discount_modal .stock .info .logo
    {
        margin: 0 auto 23px;
    }

    #discount_modal .stock .info .logo + *
    {
        width: 100%;
    }


    #discount_modal .stock .btn
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;

        width: 183px;
        height: 32px;
        margin: 7px auto 0;

        background-size: 100% 100%;
    }


    #discount_modal .license
    {
        bottom: 10px;
        left: 4px;
    }


    #discount_modal .exp
    {
        font-size: 14px;
        line-height: 20px;

        padding: 0 28px 10px 21px;

        letter-spacing: -.03em;
    }



    #discount_modal.disclosed .image
    {
        pointer-events: auto;

        opacity: 1;
    }
}
